<?xml version="1.0"?>
<launch>
  <!--display-->
  <include file="$(find agv_robot)/launch/display.launch"/>

  <!--加载底盘-->
  <node pkg="agv_robot" type="control" name="control" output="screen">
  </node>

  <!--laser-->
  <include file="$(find agv_robot)/launch/laser.launch"/>

  <!--启动tf-->
  <include file="$(find agv_robot)/launch/tf.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server"  type="map_server" args="$(find agv_robot)/maps/map.yaml" />

  <!-- AMCL used for localization -->
  <include file="$(find agv_robot)/launch/amcl.launch" >
  </include> 

  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv_robot)/rviz/navigation.rviz"/>

</launch>
