<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find AGV04132)/urdf/AGV04132.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <arg name="rvizconfig" default="$(find AGV04132)/config/fork.rviz" />
  <node name="rviz"
	 			 pkg="rviz" 
				type="rviz" 
				args="-d $(arg rvizconfig)" />
</launch>