<!-- -->
<launch>
	
	<!--calling urdf model-->
  <arg name="model" 
    default="$(find AGV04132)/urdf/AGV04132.urdf"/>

	<!--load model in gazebo.launch (refer forklift_gazebo.launch)-->
  <include file="$(find AGV04132)/launch/forklift_gazebo_lidar.launch">
      <arg name="model"
          value="$(arg model)" />
  </include>

	<!--rviz node-->
  <arg name="rvizconfig" default="$(find AGV04132)/config/fork.rviz" />
  <node name="rviz"
	 			 pkg="rviz" 
				type="rviz" 
				args="-d $(arg rvizconfig)" />

	<rosparam command="load"
               file="$(find AGV04132)/config/joints.yaml"
                ns="forklift_joint_state_controller" />
  <rosparam command="load"
               file="$(find AGV04132)/config/fork.yaml"
                ns="forklift_fork_controller" />
  <rosparam command="load"
               file="$(find AGV04132)/config/driving1.yaml"
                 ns="forklift_drive_controller" />


	<!--spawner-->
	<!--controller_manager node-->
  <node name="forklift_controller_spawner" 
         pkg="controller_manager" 
        type="spawner"
        args="forklift_joint_state_controller
              forklift_fork_controller
              forklift_drive_controller"/>
              
  <node name="rqt_robot_steering" 
         pkg="rqt_robot_steering"
        type="rqt_robot_steering">

    <param name="default_topic" 
          value="/forklift_drive_controller/cmd_vel/"/>
  </node>

</launch>
